.Footercontainer{
    margin-top: 40px;
    height: auto;
    background: linear-gradient(to top ,aqua, black);
    color: black;
    font-size: 18px;
    font-style: oblique;
    font-weight: bold;
    padding-top: 27px;
    font-family: 'Times New Roman', Times, serif;
}
.footText{
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    padding-left: 110px;  
}
.fab{
    background-color: black;
    width: 28px;
    height: 28px;
    border: 2px black solid;
    border-radius: 5px;
}

.ico{
    display: inline-block;
    float: right;
    height: 20px;
    margin-right: 20px;
    width: auto;
    margin-top: 10px;
    /* background-color: red; */
}


@media (max-width: 600px){
    .footText{
        padding-left: 0px;
    }
    .Footercontainer{
        height: fit-content;
    }
    .ico{
        float: none;
        text-align: center;
        /* margin-top: 18px; */
        /* padding-left: 18px; */
        padding-right: 0px;
        height: 15px;
        margin-bottom: 30px;
    }
   
}